{% extends "layout.html" %}
{% block content %}
<div>
    <div id="C1">
        <section id="D1">

            <h2 id="tit">Sistema de análisis para la ponderación de usuarios de Twitter en temas de tendencia</h2>
            <div id="E1">
                <button type="button" class="btn btn-primary btn-lg" onclick="location.href='/tendencias'">Comenzar</button>
            </div>
            <div id="text1">
                <p align="JUSTIFY">Este proyecto tiene como finalidad realizar la ponderación y evaluación de la relación que existe entre temas de tendencia, fuente y líderes de opinión en la red social Twitter. A través de un análisis temporal de los temas de tendencia y la obtención de los líderes de opinión mediante el uso de procesamiento de lenguaje natural, minería de datos y análisis de grafos.</p>
            </div>
        </section>
    </div>
    <div id="C2">
        <section id="D2">
            <div id="E2">
                <img src="static/imag/FotoDECV.png" width="80%" height="40%" alt="" />
            </div>
            <div id="E3">
                <h3>Héctor Arturo Ortiz Romero</h3>
                <h3>Estudiante de Ing. Telemática</h3>
                <h3>Boleta: 2013640153</h3>
            </div>
        </section>
    </div>
</div>
{% endblock %}