<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>SAPUTTT</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link REL=StyleSheet HREF="../../static/site.css" TYPE="text/css" MEDIA=screen>
</head>

<body style="margin: auto">
    <header>
        <div id="A2">
            <div id="B1">
                <h3 class="institucion">Instituto Politecnico Nacional</h3>
                <h3 class="institucion">Unidad Profesional Interdisciplinaria en Ingeniería y Tecnologías Avanzadas</h3>
            </div>
            <div id="B2">
                <img src="../../static/imag/LOGOIPN.jpg" width="40%" height="200px" alt="" id="logo1" />
                <img src="../../static/imag/upiita-logo.png" width="40%" height="auto" alt="" id="logo2" />
            </div>
        </div>
    </header>
    <main>
        <div class="body-content">
            {% block content %}
            {% endblock %}
            <footer>
                <p>&copy; 2022</p>
            </footer>
        </div>
    </main>

</body>
</html>

