{% extends "layout.html" %}
{% block content %}
<div style="margin:auto">
    <div id="C1" style="width : 100% !important ">
        <section id="D1">

            <h2 id="tit">Sistema de análisis para la ponderación de usuarios de Twitter en temas de tendencia</h2>
            <div id="text1">
                <p align="JUSTIFY"> Tema seleccionado </p>
                <p align="JUSTIFY"> datos de la consulta </p>


            </div>
        </section>
    </div>
</div>
{% endblock %}